

* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  word-break: keep-all;
  font-feature-settings: normal;
  text-rendering: optimizeLegibility;
}

body {
  margin: auto;
  padding: 20px 30px 50px 30px;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#external-link {
  color: blue;

  text-decoration: none;
  cursor: pointer;
}

#main-container {
  margin-top: 90px;
  margin-bottom: 50px;
}

#top-container {
  padding-bottom: 5px;
  z-index: 999;
}

#top-container h1 {
  font-size: 24px;
  display: inline;
  font-weight: 700;
}

#top-container small {
  display: block;
  font-size: 13px;
  font-weight: 400;
}

#top-container .logo-link span {
  font-size: 14px;
  font-weight: 400;
}

#top-container .logo-link:hover,
#top-container .logo-link:focus {
  color: white;
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black;
}

#top-container .info-link:hover,
#top-container .info-link:focus {
  color: white;
  background-color: black;
}
