<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Vikadilly</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
  <link rel="preload" href="./styles/index.css" as="style">
  <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
  <header id="top-container" role="navigation">
    <%- include(process.cwd() + '/app/templates/navigation'); %>
  </header>
  <main id="main-container">
    <p> People call me Vik. It's easier to pronounce than my actual full name so call me that. </p> 
    <p> I am a professional software engineer and I like to paint too.</p>
    <p> I work at CapitalOne in London 🏴󠁧󠁢󠁥󠁮󠁧󠁿 </p>

    <br/>

    <h2> Why should you care about this blog?</h2>
    <p> I do pretty in-depth analysis of artwork and paintings. I also can program so I tend to do a lot of analysis involving both these things.  </p>

    <br/>

    <h2> What non-painting things are you currently working on?</h2>
    <p> On Fridays, I do open source work so holler at me if you wanna collab on something cool 👇 </p>
    <p> When I am not doing that, I am tinkering away at my side projects or making new artwork. </p>
    
    <br/>
    <h2> Nice website - how did you build it?</h2>

    <p> I forked the <a id="external-link" href="https://github.com/parksb/handmade-blog"> Handmade Blog </a> template because I loved the minimalistic aesthetic and simple set up, added some QoL stuff like hot reloading and deployment against a custom CNAME. </p>
    <br/>

    <h2> My socials </h2>
    <p> Twitter - @vikadilly </p>
  </main>
</body>
</html>